* {
    margin: 0;
    padding: 0;
}
.main_table{
    display: grid; 
    grid-template-rows: 1fr 2fr 1.5fr;
    background-color: rgb(211, 208, 208);
}
.header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.table2{
    grid-row: 1/2;
    display: flex;
    justify-content: center;
}
.table3{
    grid-row: 2/3;
    display: grid; 
    grid-template-columns: 2fr 1fr;
    background-color: antiquewhite;
}
.table4{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    gap:10px;
    margin-bottom: 30px;
    
}
.mainStaff{
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.else1{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: yellow; 
}
.else2{
    grid-row: 2/3;
    grid-column: 2/2;
    background-color: yellow; 
}
.else3{
    grid-row: 3/3;
    grid-column: 1/span 2;
    background-color: yellow; 
    width: 58%;
    margin-top: 10px;
}
.else3Text{
    display: flex;
    justify-content: center;
}
.table5{
    grid-column: 2/3;
    background-color: rgb(143, 235, 204);
    display: flex;
    justify-content: center;
}
.table6{
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.footerSection1{
    grid-column: 1/4;
    grid-row: 1/1;
    text-align: center;
}
.footerSection2{
    grid-column: 2/4;
    grid-row: 1/1;
    text-align: center;
}
.footerSection3{
    grid-column: 3/4;
    grid-row: 1/1;
    text-align: center;
}
.footerSection4{
    grid-column: 4/4;
    grid-row: 1/1;
    text-align: center;
}